.return-arrow {
    height: 40px;
    display: flex;
    position: absolute;
    top: 2rem;
    left: 1rem;
    background-color: var(--back-color);
    border:solid var(--background-color) 1px;
    border-radius: 100%;
}
.return-arrow a svg {
    height: 100%;
    margin: auto;
    color: var(--background-color);
}

.contact-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-inline: auto;
    margin-top: 1rem;
    border-radius: 16px;
    background-color: var(--background-color);
}

.contact-logo {
    height: 4rem;
}

.logo-name {
    font-size: 25pt;
    margin: 0;
}

.contact-form {
    margin-top: 2rem;
    margin-inline: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-submit {
    margin-inline: auto;
    width: 250px;
    background-color: var(--background-color);
    border: none;
}

.btn-primary {
    --bs-btn-hover-bg: var(--secondary-colour);
    margin-top: 2rem;
}

.form-label, .form-message {
    color: var(--background-color);
}

.form-message {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_container {
    z-index: 2;
}

.blurred-bg-img {
    filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 70%;
    height: 50%;
    max-width: 450px;
}

.blurred-bg-img img {
    width: 100%;
    height: 100%;
}

#message_topic, #message_content {
    border-radius: 16px;
    border: black solid 4px;
}