.footer-navbar {
    height: 100px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 1rem;
    justify-items: center;
    background-color: var(--primary-blue);
    border-radius: 16px;
}

.footer-navbar svg {
    height: 90%;
    color: var(--back-color);
}
