:root {
    --primary-blue: #21a89a;
    --secondary-colour: #7cd858;
    --background-color: #525B5A;
    --back-color: #e5e9e7;
}

.map-main {
    height: 98vh;
    width: 118vw;
    display: flex;
    flex-direction: column;
    // margin-top: 4rem;
}

.map-screen {
    height: 100%;
    width: 100%;
    background-color: #8bb9fe;
}

// .removeable-navbar {
//     display: none;
// }

.map-widget {
    margin-top: -15%;
    position: relative;
    z-index: 3;
}

#map-navbar {
    margin: auto;
}

.center-map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infowindow-container {
    button{
        background-color: var(--primary-blue);
        border-color: var(--primary-blue);
        border-radius: 8px;
        margin-bottom: 0.3rem;
    }
    display: flex;
    flex-direction: column;
    color:black;
    font-size: medium;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
    z-index: 2;
}

// .return-arrow {
//     height: 40px;
//     display: flex;
//     position: absolute;
//     top: 2rem;
//     left: 1rem;
//     background-color: var(--back-color);
//     border:solid var(--background-color) 1px;
//     border-radius: 100%;
// }
// .return-arrow a svg {
//     height: 100%;
//     margin: auto;
//     color: var(--background-color);
// }

// .contact-logo-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 70%;
//     margin-inline: auto;
//     margin-top: 1rem;
//     border-radius: 16px;
//     // background-color: var(--background-color);
// }

// .contact-logo {
//     height: 4rem;
// }

// .logo-name {
//     font-size: 25pt;
//     margin: 0;
//     color: var(--background-color);
//     font-weight: 500;
// }

@media screen and (max-width: 900px) {
    .map-widget {
        margin-top: -25%;
    }
}

@media screen and (max-width: 450px) {
    .map-widget {
        margin-top: -45%;
    }
}
