.user-info a {
    background-color: var(--secondary-colour);
    padding: 0.2rem;
    text-decoration: none;
    color: white;
    font-size: larger;
    border-radius: 10px;
    text-align: center;
}
