.add-button {
    background-color: var(--secondary-colour);
    height: 25px;
    padding: 0.2rem;
    text-decoration: none;
    color: white;
    font-size: larger;
    border-radius: 10px;
    text-align: center;
}

.delete-button {
    height: 25px;
    color: red;
    margin-left: 25px;
    margin-bottom: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: var(--background-color);
    align-items: center;
}
