.profile-main {
    padding: 2rem;
}
.infos-user {
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.profile-main section {
    border-radius: 16px;
}

.infos-user article{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border-radius: 16px;
}
.user-car {
    display: flex;
    justify-content: space-between;
}

.lower-half {
    display: flex;
    // margin-top: 2rem;
    // height: 300px;
    justify-content: space-between;
    color: white;
}

.info-car {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-right: 1rem;
    justify-content: space-between;
    font-size: large;
    border-radius: 16px;
}

.misc-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-API {
    p {
        margin: 0;
    }
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

#weather-icon {
    height: 150px;
}

.misc-div {
    background-color: var(--background-color);
    border-radius: 16px;
}

.test-h1 {
    color: green;
}

.progress {
    height: 100px;
}

.pink-stripe h3 {
    margin-top: 1.3rem;
}

.white-stripe-profile {
    background-color: white;
    padding: 1rem;
    width: 100%;
    /* height: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--background-color);
}