//start coding by removing this file and adding yours ;)
@import "wcs";
@import "login";
@import "footer-navbar";
@import "contact-form";
@import "userProfile";
@import "register";
@import "dashboard";


:root {
    --primary-blue: #21a89a;
    --secondary-colour: #7cd858;
    --background-color: #525B5A;
    --back-color: #e5e9e7;
}

.white-stripe {
    height: 350px;
}

.white-stripe img {
    height: 350px;
    width: 350px;
}
