//start coding by removing this file and adding yours ;)
@import "wcs";
@import "login";
@import "footer-navbar";
@import "contact-form";
@import "userProfile";
@import "register";
@import "dashboard";
@import "options";

:root {
    --primary-blue: #21a89a;
    --secondary-colour: #7cd858;
    --background-color: #525B5A;
    --back-color: #e5e9e7;
}

.white-stripe {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 350px;
    color: var(--background-color);
    p {
        margin: 0;
    }
}

.white-stripe img {
    height: 150px;
    width: 120px;
}
