

:root {
    --primary-blue: #21a89a;
    --secondary-colour: #7cd858;
    --background-color: #525B5A;
    --back-color: #e5e9e7;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    display: none;
}
