{% extends 'base.html.twig' %}

{% block body %}
    <main class="dashboard-main">
        <p class="d-inline-flex gap-1">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Liste des véhicules :
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <a href="#">Ajouter un véhicule</a>
            <br>
            <ul class="stations-container"></ul>
            {% for car in cars %}
                <li class="cars-unit"><strong>{{ car.brand }}, {{ car.model }}</strong> <a href="#">Modifier</a> <a href="#">Supprimer</a></li>
            {% endfor %}
        </div>
    </main>
{% endblock %}
