{% extends 'base.html.twig' %}

{% block body %}
    <main class="dashboard-main">
        <p>Test</p>
        <ul class="categories-container">
            <li class="category-link"><a href="{{ path('dashboard_userList') }}">Accès à la liste des utilisateurs :</a></li>
            <li class="category-link"><a href="#">Accès à la liste des véhicules :</a></li>
            <li class="category-link"><a href="{{ path('dashboard_stationList') }}">Accès à la liste des bornes :</a></li>
        </ul>
    </main>

{% endblock %}
